@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@font-face{
  font-family: "outrunFuture";
  src: url("fonts/Outrunfuture.otf")
}
:root {
  --navy: rgb(6, 40, 61); /* var(--Navy)  */
  --blue: rgb(37, 109, 133);
  --cold: rgb(71, 181, 255);
  --winter: rgb(223, 246, 255);
  --pink: rgba(213, 13, 237, 1);
  --darkblue: rgba(0, 3, 48, 1);
  --gradient: background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--navy);
  font-family: "Courier New", Courier, monospace;
}
.topheader {
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  display: flex;
  position: fixed;
  width: 100vw;
  min-height: min-content;
  /* height: max-content min-content; */
  /* max-height: 100%; */
  border: 1px solid var(--pink);
  /* border-color: var(--navy); */
  /* font-size: 10px; */
  text-align: center;
  background-color: var(--darkblue);
  background-image: url("image/retro-wave.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  z-index: 9;
  font-family: outrunFuture;
  color: white;
}
#profileCard {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 3%;
  right: 0px;
  margin-right: 5px;
  width: 300px;
  background-color: var(--cold);
  border: 1px solid var(--navy);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  z-index: 9;
  align-content: center;
  justify-items: center;
}
.profileImg{
  width: 80px;
  height: 80px;
}
.socials{
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 20px;
}
.wilhelmScream {
  display: flex;
  justify-content: center;
}
.wilhelmScream div {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: var(--winter);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px 5px 5px 5px;
}
#profileImg {
  width: 20%;
}
#favfoods div {
  margin-top: 150px;
  background-color: var(--blue);
  font-family: "Nabla", cursive;
}
#favfilms div {
  font-family: "Big Shoulders Stencil Text", cursive;
  background-color: var(--blue);
  color: var(--winter);
  text-align: center;
  margin: 5px 25px 5px 5px;
}
#skills div {
  font-family: "Dancing Script", cursive;
}
#skills p {
  text-align: center;
  text-transform: capitalize;
  margin: 15px;
}
#youtube div {
  background-color: var(--cold);
  color: var(--winter);
  text-align: center;
}
#youtube div iframe {
  border: 0 0 0 0;
}
#linkedinPost div {
  border: 1 solid back;
  border-radius: 5px;
  background-color: var(--blue);
  margin: auto;
  color: var(--winter);
}
body > div {
  margin: 10px;
}
#website {
  border-radius: 0px;
  border: 2px solid var(--navy);
  display: flex;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 500px;
}
footer {
  justify-content: center;
  display: flex;
  position: sticky;
  bottom: 0;
  text-align: center;
  background-color: var(--winter);
  border: 1px solid black;
  border-radius: 5px;
}
#headers {
  text-align: center;
}
links {
  display: flex;
  bottom: 0;
}
.sandbox button {
  color: rgb(0, 0, 0);
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin: 15px 0 15px 0;
  padding: 5px 5px 5px 5px;
  border: 1px solid blue;
  border-radius: 5px;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 25px;
}
.sandbox button:hover {
  animation: shake 0.5s;
}
.sandbox button:active {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: 6px 6px 0 black;
}
.sandbox > div {
  text-align: center;
  justify-content: center;
  margin: 15px 15px 5px 5px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}