@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
:root {
  --navy: rgb(6, 40, 61); /* var(--Navy)  */
  --blue: rgb(37, 109, 133);
  --cold: rgb(71, 181, 255);
  --winter: rgb(223, 246, 255);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:var(--navy);
  font-family: 'Courier New', Courier, monospace;
}
.topheader {
  justify-content: center;
  margin: 0;
  display: flex;
  position: fixed;
  width: 100%;
  border: 1px solid var(--navy);
  border-color: var(--navy);
  /* font-size: 10px; */
  text-align: center;
  background-color: var(--cold);
  border-radius: 5px;
  text-align: center;
  z-index: 9;
}
#profileCard {
  position: fixed;
  display: flex;
  bottom: 3%;
  right: 0px;
  margin-right: 5px;
  width: 300px;
  background-color: var(--cold);
  border: 1px solid var(--navy);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  z-index: 9;
}
.wilhelmScream {
  display: flex;
  justify-content: center;
}
.wilhelmScream div {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: var(--winter);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px 15px 15px 5px;
}
#profileImg {
  width: 20%;
}

#favfoods div {
  margin-top: 150px;
  background-color: var(--blue);
  font-family: 'Nabla', cursive; 
}
#favfilms div {
  font-family: 'Big Shoulders Stencil Text', cursive;
  background-color: var(--blue);
  color: var(--winter);
  text-align: center;
  margin: 5px 25px 5px 5px;
}
#skills div{
  font-family: 'Dancing Script', cursive;
}
#skills p{
  text-align: center;
  text-transform: capitalize;
  margin: 15px;
}
#youtube div {
  background-color: var(--cold);
  color: var(--winter);
}
#youtube div iframe {
  margin:5px;
}
#linkedinPost div {
  border: 1 solid back;
  border-radius: 5px;
  background-color:var(--blue);
  margin: auto;
  color: var(--winter);
}
body > div {
  margin: 10px;
}
#website {
  border-radius: 0px;
  border: 2px solid var(--navy);
  display: flex;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 500px;
}
footer {
  justify-content: center;
  display: flex;
  position: sticky;
  bottom: 0;
  text-align: center;
  background-color: var(--winter);
  border: 1px solid black;
  border-radius: 5px;
}
#headers {
  text-align: center;
}
links {
  display: flex;
  bottom: 0;
}
.sandbox > div {
  margin: 15px 15px 5px 5px ;
}